@charset "UTF-8";


@charset "UTF-8";

.header {
	position:relative;
	top: 30px;/*上から*/
	left:250px;/*左から*/
}

.regi{
	position:relative;
	top: 75px;/*上から*/
	left:330px;/*左から*/

}
/*確認文 色は水色*/
.y_label{
	color: #00FFFF;
}


.check{
	text-align: center;
	color: #00FFFF;
	bottom: 50px;
}
/* ボタンレイアウト*/
.yes_button {
	width:200px;
	height:  30px;
    margin-left: 50px;
    border: 1px solid  #00FFFF;
    border-radius: 10px;
    background: white;
	cursor: pointer;/*ボタンを押そうとすると指差しに代わる*/
}

/*ボタン位置*/
.button_c{
	position:relative;
	top: 120px;/*上から*/
	left:300px;/*左から*/
}
